<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>
<head>
  <link rel="stylesheet" href="/css/user.css" />
</head>
<body>
  <div class="background">
    <p class="name"><%- user.display %></p>
    <div class="activity"></div>
    <div class="queue"></div>
    <div class="settings"></div>
  </div>
</body>
</html>