.background {
  width: 1560px;
  height: 950px;
  left: 163px;
  top: 31px;
  position: absolute;
  background: rgba(131, 131, 131, 0.44);
  border-radius: 50px
}

textarea {
  height: 98%;
  width: 100%;
  
  background: transparent;
  border: transparent;
  resize: none;

  white-space: pre;
  overflow-wrap: normal;
  overflow-x: scroll;
  pointer-events: all;
}

textarea::-webkit-scrollbar {
  width: 1em;
  height: auto;
}

textarea:focus {
  outline: none;
}

.back {
  position: absolute;
  background: transparent;
  border: 2px black solid;

  width: 180px;
  border-radius: 25px;
  font-size: 50px;
  left: 86%;
  top: 20px;
}

td.user {
  width: 20%;
}
td.line {
  width: 1%;
}
td.song {
  width: 64%;
}
td.buttons {
  width: 15%;
}

.accept {
  width: 30px;
  height: 30px;
  text-align: center;

  background: transparent;
  border: 2px #57FF7C solid;
  border-radius: 10px;
  color: #57FF7C;
}

.reject {
  width: 30px;
  height: 30px;
  text-align: center;

  margin-left: 5%;
  background: transparent;
  border: 2px #FF3636 solid;
  border-radius: 10px;  
  color: #FF3636;
}

div.checkbox-wrapper {
  --borderColor: black;
  --borderWidth: 0.1em;

  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.checkbox-wrapper input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  font-size: 1.8em;
  border-radius: 0.125em;
  display: inline-block;
  border: var(--borderWidth) solid var(--borderColor);
  width: 0.75em;
  aspect-ratio: 1;
  position: relative;
}

.checkbox-wrapper input[type=checkbox]:before,
.checkbox-wrapper input[type=checkbox]:after {
  content: "";
  position: absolute;
  background: var(--borderColor);
  width: calc(var(--borderWidth) * 3);
  height: var(--borderWidth);
  top: 50%;
  left: 10%;
  transform-origin: left center;
}

.checkbox-wrapper input[type=checkbox]:before {
  transform: rotate(45deg) translate(calc(var(--borderWidth) / -2), calc(var(--borderWidth) / -2)) scaleX(0);
}

.checkbox-wrapper input[type=checkbox]:after {
  width: calc(var(--borderWidth) * 5);
  transform: rotate(-45deg) translateY(calc(var(--borderWidth) * 2)) scaleX(0);
  transform-origin: left center;
  transition: transform 200ms ease-in;
}

.checkbox-wrapper input[type=checkbox]:checked:before {
  transform: rotate(45deg) translate(calc(var(--borderWidth) / -2), calc(var(--borderWidth) / -2)) scaleX(1);
  transition: transform 200ms ease-in;
}

.checkbox-wrapper input[type=checkbox]:checked:after {
  width: calc(var(--borderWidth) * 5);
  transform: rotate(-45deg) translateY(calc(var(--borderWidth) * 2)) scaleX(1);
  transition: transform 200ms ease-out 200ms;
}

.checkbox-wrapper input[type=checkbox]:focus {
  outline: calc(var(--borderWidth) / 2) dotted rgba(0, 0, 0, 0.25);
}

.submit {
  width: fit-content;
  height: fit-content;
  padding: 5px;
  bottom: 100%;

  background: transparent;
  border: 2px black solid;
  border-radius: 10px;
  color: black;
}

.submit:hover {
  transition: 0.5s;
  color: white;
  background: black;
}

h3.title {
  font-size: 49px;
  position: absolute;
}

.name {
  left: 50px;
  top: 0px;
  position: absolute;
  color: #1E1E1E;
  font-size: 70px;
}

.activity {
  width: 719px;
  height: 460px;
  left: 50px;
  top: 114px;
  position: absolute;
  border-radius: 25px;
  border: 2px black solid;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title#activity {
  top: 60px;
  left: 65px;
}

.settings {
  width: 719px;
  height: 288px;
  left: 50px;
  top: 627px;
  position: absolute;
  border-radius: 25px;
  border: 2px black solid;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.title#settings {
  left: 70px;
  top: 570px;
}

.queue {
  width: 643px;
  height: 801px;
  left: 837px;
  top: 114px;
  position: absolute;
  border-radius: 25px;
  border: 2px black solid;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title#queue {
  top: 60px;
  left: 852px;
}